SECRET_KEY=django-insecure-89x(2gbrxdo8z-7g3no54j2eagxr=awkrrr*g&hv*#uwh5^ui1
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=sqlite:///db.sqlite3

# DATABASE
POSTGRES_DB=nau_db
POSTGRES_USER=nau_user
POSTGRES_PASSWORD=nau_password
DB_HOST=database
DB_PORT=5432
